*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #aaa;
  --base-size: 3rem;
}

.main-cols {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.board {
  display: grid;
  /* border: 2px solid black; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  /* width: fit-content;
  height: fit-content;
  grid-auto-rows: min-content;
  grid-auto-columns: max-content; */
  --bcolor: black;
}

@media screen and (max-width: 600px) {
  body {
    --base-size: 1.6rem;
    padding: 0;
  }
  .main-cols {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  /* .board {
    border-width: 0px;
    margin: 0 auto;
  } */
  .input-candidate-entry {
    display: none;
   }
  .num {
    font-size: calc(var(--base-size) * 1) !important;
    padding: 0.75rem;
  }
}

.board.solved {
  --bcolor: hsl(118, 50%, 50%);
  border-color: var(--bcolor);
  transition: background-color 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.solved .cell, .solved .highlight, .solved .current, .solved .cell.active {
  background-color: hsla(118, 70%, 80%, 1) !important;
  cursor: default;
  transition: background-color 0.9s ease-in-out;
  outline: none;
}

.cell {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 75%);
  background-color: hsl(0, 0%, 92%);
  width: min(8vh, 10.6vw);
  height: auto;
  aspect-ratio: 1/1;
  font-family: inherit;
}

/* right edge */
.cell:nth-child(9n) {
  border-right: 2px solid var(--bcolor);
}

/* top edge */
.cell:nth-child(-n+9) {
  border-top: 2px solid var(--bcolor);
}

/* inner horizontal*/
.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54)
{
  border-bottom: 1px solid var(--bcolor);
}

/* bottom edge */
.cell:nth-child(n+73) {
  border-bottom: 2px solid var(--bcolor);
}

/* inner vertical */
.cell:nth-child(3n+1) {
  border-left: 1px solid var(--bcolor);
}

/* left edge */
.cell:nth-child(9n+1) {
  border-left: 2px solid var(--bcolor);
}

.value {
  font-size: calc(var(--base-size) * 0.8);
  color: #000;
  font-weight: 900;
}

.cell.active {
  outline: 4px dashed hsl(200, 65%, 40%);
  outline-offset: -6px;
}

.given {
  color: #555;
}

.hidden {
  opacity: 0;
}

.highlight {
  background-color: hsla(200, 100%, 80%, 0.5) !important;
}

.debug {
  font-size: 0.8rem;
  margin-top: 2rem;
}

.controls {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  align-items: baseline;
  padding: 0 0.5rem;
  flex-wrap: wrap;
}

.controls label {
  font-size: 80%;
}

button {
  appearance: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  border-radius: 0rem;
  font-family: inherit;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.nums-wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  width: min-content;
  height: min-content;
  gap: 0.25rem;
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--base-size) * 0.5);
  aspect-ratio: 1/1;
}

.num-wide {
  grid-column: span 3;
  aspect-ratio: unset;
}



.done {
    background-color: hsla(120, 100%, 25%, 0.5);
    font-weight: bold;
    color: #fff;
}

/* .error::before {
  position: absolute;
  content: "\274c";
  font-size: calc(var(--base-size) * 1.2);
  color: hsla(0, 100%, 50%, 0.5) !important;
} */

.error::before,
.error::after {
  background-color:rgba(241, 4, 4, 0.35);
  content: "";
  position: absolute;
  height: calc(var(--base-size) * 0.2);
  width: calc(var(--base-size) * 1.2);
  border-radius: 0.95rem;
}
.error::before {
  transform: rotate(45deg);
}
.error::after {
  transform: rotate(-45deg);
}

.candidates {
  position: absolute;
  top: 5px;
  max-width: 80%;
  line-break: anywhere;
}

.activecandy {
  min-width: 20%;
  height: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}
